version: '3.8'
services:
  web:
    build: .
    container_name: farm_web
    env_file:
      - .env.aws
    command: >
      sh -c "
      python manage.py collectstatic --noinput &&
      python manage.py migrate &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "80:8000"
    restart: unless-stopped

volumes:
  static_volume:
  media_volume: