{% extends 'products/base.html' %}
{% block title %}Categories{% endblock %}

{% block content %}
<h2>Categories</h2>
<a href="{% url 'category_create' %}" class="btn btn-primary mb-3">Add Category</a>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    {% for category in categories %}
    <tr>
        <td><a href="{% url 'category_detail' category.id %}">{{ category.name }}</a></td>
        <td>
            <a class="btn btn-sm btn-warning" href="{% url 'category_update' category.id %}">Edit</a>
            <a class="btn btn-sm btn-danger" href="{% url 'category_delete' category.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
